* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #dee2e6;
}

.container {
  max-width: 30rem;
  margin: 8rem auto;
  background-color: #fff;
  text-align: center;
  text-transform: capitalize;
  padding: 1rem;
  border-radius: 9px;
}

form {
  margin-bottom: 2rem;
}

input {
  width: 20rem;
  height: 2rem;
  font-size: 1.2rem;
  padding: 0.2rem;
}

.btn {
  height: 2rem;
  font-size: 1.2rem;
  border: 2px solid #000;
  cursor: pointer;
  text-transform: capitalize;
  padding: 0.2rem;
  background-color: #000;
  color: #fff;
}

h3 {
  margin-bottom: 1rem;

  font-size: 1.5rem;
  margin-top: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.btn-edit {
  margin-right: 1rem;
}

button {
  cursor: pointer;
}

.btn-clear {
  border: none;
  color: #fa5252;
  text-transform: capitalize;
  background: none;
  font-size: 1rem;
}

.alert-danger {
  background-color: #ffe3e3;
  color: #c92a2a;
}

.alert-success {
  background-color: #d3f9d8;
  color: #2b8a3e;
}
